<?xml version="1.0" encoding="utf-8" ?>
<!-- this is the config file that NUnit will load for this test assembly -->
<!-- make sure your post-build command copies it to ApplicationBasePath: -->
<!-- copy ..\..\DependencyResolver.Test.dll.config .\ -->
<configuration>
  <appSettings>
    <!-- path to look for assemblies (relative to ApplicationBasePath). Separate directories with ; -->
    <add key="DependencyResolver.assembly-path" value=".\;..\..\..\DependencyResolver\bin\Debug;..\..\..\SomeOtherAssembly.Reference\bin\Debug;..\..\..\SomeOtherAssembly\bin\Debug"/>
  </appSettings>
</configuration>